header{
    width: 50%;
    margin:auto;
    background-color:rgb(91, 21, 156);
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    color: white;
    margin-bottom: 40px;
}

.list {
    width: 50%;
    margin: auto;
    text-align:center;
    border:1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 0 5px 1px #ccc;
    margin-bottom: 20px;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

.pe1 {
    width: 80%;
    margin: auto;
    border:1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 0 5px 1px #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    border:0;
    background-color:palevioletred;
    color: white;
    padding:5px;
    margin-bottom: 15px;
    width: 100px;
}

hr {
    width: 90%;
    height: 2px;
    background-color: #ccc;
    border:0;
    margin-bottom: 15px;
}

h2 {
    margin-block-end: 0;
    color:rgb(91, 21, 156);
}